
<!DOCTYPE html>
<html lang="en">


    <%- include('./layouts/head') %>
    <title>Book App</title>
    <%- include('./layouts/header') %>
 <%- include('./layouts/nav') %>

<body>
 
<main>
<ul>


<h2> total number of books : <%= count %> </h2>
 <% books.forEach(el => { %>
 <h4> title : <%= el.title %></h4>
 <h4> author : <%= el.author %></h4>
   <a href="/books/<%=el.id%>">View Details</a> 
      <% }); %>
</ul>
</main>
   <%- include('./layouts/footer') %>

</body>
</html>